<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="/css/productCreateEdit.css">
    <title>Nuevo Articulo</title>
</head>

<body>

    <%- include("../partials/header") %>

    <main>
        <section class="contenedor-formulario">
            <h1 class="titulo">EDITAR ARTICULO</h1>  
            <form action="" method="" class="formulario">
            <div class="formulario__field">
                <label for="name">Nombre del producto</label>
                <input type="text" id="name" name="name" class="formulario__texto" value="<%= product.name %>" required>
            </div>
            <div class="formulario__field">    
                <label for="description">Descripción</label>
                <textarea id="description" name="description" class="formulario__textarea" required><%= product.description %></textarea>
            </div>
            <div class="formulario__field">
                <label for="image">Imagenes</label>
                <input type="file" id="image" name="image" class="formulario__imagenes" required>
            </div>
            <div class="formulario__field">
                <label for="colors">Colores disponibles (separados por comas)</label>
                <input type="text" id="colores" name="colores" class="formulario__texto" value=<%= product.colors.toString() %> required>
            </div>
            <div class="formulario__field">
                <label for="talles">Talles disponibles (separados por comas)</label>
                <input type="text" id="talles" name="talles" class="formulario__texto" value=<%= product.sizes.toString() %> required>
            </div>
            <div class="formulario__field">
                <label for="price">Precio</label>
                <input type="number" id="price" name="price" class="formulario__precio" step="0.01" min="0" value="<%= product.price %>" required>
            </div>
                <button class="formulario__boton" type="submit">Guardar</button>
            </form>
        </section>
    </main>

    <%- include("../partials/footer") %>
        
</body>

</html>
    
