<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

  <link rel="stylesheet" href="/css/loginRegister.css"/>
  <title>Inicia sesion</title>
</head>

<body>
  <%- include("../partials/header", {simplificarHeader: true}) %>

  <main>
    <section class="container_form">
      <h1 class="title">INGRESA A TU CUENTA</h1>

      <% if (locals.errors) { %>
        <% for (const property in errors) { %>
            <p class="error-message"><%= errors[property].msg %></p>
        <% } %>
      <% } %>

      <form action="/cuenta/login" method="post">
        <div class="form_field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email"a value="<%= locals.old && old.email %>">
            <small class="validation" id="valiemail"></small>
        </div>
        <div class="form_field">
          <label for="usename">Nombre de Usuario</label>
          <input type="text" name="username" id="username" value="<%= locals.old && old.username %>">
          <small class="validation" id="valiuser"></small>
        </div>
        <div class="form_field">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password"/>
            <small class="validation" id="valipass"></small>
        </div>
        <div class="condiciones">
            <label for="recordar">
                <input type="checkbox" value="recordar" id="recordar">
                <p>Recordarme</p>
            </label>
        </div>
  
        <button class="button-login-reg" type="submit">
            Continuar
        </button>
  
        <div class="form-register">
          <p>
              ¿No tienes una cuenta?
              <a href="/cuenta/registro">¡Registrate!</a>
          </p>
        </div>
      </form>
    </section>
    
  </main>
    
  
  <%- include("../partials/footer", {simplificarFooter: true}) %>

  <script src="/scripts/validationLogin.js"></script>
      
</body>

</html>
