<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/loginRegister.css"/>

    <title>Registrate</title>
</head>
  
<body>
    
    <%- include("../partials/header", {simplificarHeader: true}) %>

    <main>
        <section class="container_form">
            <h1 class="title">REGISTRATE</h1>

            <% if (locals.errors) { %>
                <% for (const property in errors) { %>
                    <p class="error-message"><%= errors[property].msg %></p>
                <% } %>
            <% } %>

            <form action="/cuenta" method="post" enctype="multipart/form-data">
                <div class="form_field">
                    <label for="firstName">Nombre</label>
                    <input name="firstName" id="firstName" type="text" required value="<%= locals.old && old.firstName %>"/>
                    <small class="validation" id="valifirst"></small>
                </div>

                <div class="form_field">
                    <label for="lastName">Apellidos</label>
                    <input name="lastName" id="lastName" type="text" required value="<%= locals.old && old.lastName %>"/>
                    <small class="validation" id="valilast"></small>
                </div>

                <div class="form_field">
                    <label for="username">Nombre de usuario</label>
                    <input name="username" id="username" type="text" required value="<%= locals.old && old.username %>"/>
                    <small class="validation" id="valiuser"></small>
                </div>

                <div class="form__field">
                    <label for="avatar">Foto de perfil</label>
                    <input type="file" id="avatar" name="avatar" accept=".jpg,.png,.jpeg,.gif">
                    <small class="validation" id="valiava"></small>
                </div>

                <div class="form_field">
                    <label for="email">Email</label>
                    <input name="email" id="email" type="email" required value="<%= locals.old && old.email %>">
                    <small class="validation" id="valiemail"></small>
                </div>

                <div class="form_field">
                    <label for="password">Contraseña</label>
                    <input name="password" id="password" type="password" required/>
                    <small class="validation" id="valipass"></small>
                </div>
                
                <div class="form_field">
                    <label for="confirm-password">Confirmar contraseña</label>
                    <input id="confirm-password" name="confirm-password" type="password" required/>
                    <small class="validation" id="valirepass"></small>
                </div>

                <div class="form_field">
                    <% roles.forEach(role => { %>
                        <label for="<%= role.name %>">
                            <input type="radio" name="role" id="<%= role.name %>" value="<%= role.id %>">Soy <%= role.name %>
                        </label>
                    <% }) %>
                    
                </div>

                <div class="condiciones">
                        <label for="checkbox1">
                            <input type="checkbox" required>
                            <p>
                                Acepto los terminos y condiciones 
                            </p>
                        </label>

                        <label for="checkbox2">
                            <input type="checkbox" >
                            <p>
                                Quiero recibir comunicaciones comerciales de D&H
                            </p>
                        </label>
                </div>

                <button class="button-login-reg" type="submit">
                    Continuar
                </button>
            </form>
            <div>
                <p>
                    ¿Ya tienes una cuenta?
                    <a href="/cuenta/login">Ingresa aquí</a>
                </p>
            </div>
        </section>
    </main>

    <%- include("../partials/footer", {simplificarFooter: true}) %>

    <script src="/scripts/validationRegister.js"></script>

</body>

  
</html>
  